<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body class="error">

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid">
    <br>
    <h5 class="text-center" style="color: black" th:text="#{error404_text1}">Opps, the thingy that you are looking for is no longer here!</h5>
    <h5 class="text-center" style="color: black" th:text="#{error404_text2}">We are veeery sorry.</h5>
    <br/>
    <form th:method="get"
            th:action="@{/}">
        <input type="submit" style="color: black; margin-left: 40%; background: transparent; cursor: pointer" th:value="#{go_home_button}"></input>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
