<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">
</head>

<body class="error">

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid">
    <br>
    <h5 class="text-center" style="color: black">Opps, something went terribly wrong!</h5>
    <h5 class="text-center" style="color: black">We are very sorry and we are working to resolve the issue.</h5>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
