<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">About us</h2>
    <br>
    <div class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" style="background: #383d41">
        <div class="form-group">
            <p style="color: #ac9f76; padding: 20px 20px 40px; text-align: justify; font-size: 16px" >
                Our camping market site is designed to provide an extensive and user-friendly platform for camping enthusiasts to explore and purchase a wide range of camping vehicles, including campers and caravans. The site features comprehensive listings with detailed information.
                Each vehicle listing provides detailed specifications and high-quality images, offering users a clear understanding of each vehicle's features and conditions.
                Overall, our camping market site aims to be the go-to platform for camping enthusiasts, providing a seamless and enjoyable browsing experience with detailed information and intuitive navigation.
            </p>

            <hr width="80%" size="50" color="orange" noshade>

            <h3 class="text-white text-center">Contacts</h3>
            <p style="color: #ac9f76; padding: 20px 20px;">Email: campingCars@email.com</p>
            <p style="color: #ac9f76; padding-left: 20px;">Facebook: Camping Cars</p>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
