<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container">
    <h2 class="text-center text-white" th:text="#{register_user}">Register User</h2>
    <br>
    <form th:method="POST"
          th:action="@{/users/register}"
          th:object="${userRegistrationBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" style="background: #343a40">
        <div class="row">

            <div th:if="${hasErrors}"
                 th:text="'Registration error occurred!'" class="text-warning"></div>

            <div class="form-group col-md-6 mb-3">
                <label for="firstName" class="text-white font-weight-bold" th:text="#{register_first_name}">First Name</label>
                <input th:field="*{firstName}"
                       th:errorclass="bg-warning"
                       id="firstName" type="text" min="2" max="30" class="form-control"
                       th:placeholder="#{register_first_name}"/>
                <p th:if="${#fields.hasErrors('firstName')}"
                   th:errors="*{firstName}"
                   class="errors alert alert-danger">
                    First name is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="lastName" class="text-white font-weight-bold" th:text="#{register_last_name}">Last Name</label>
                <input th:field="*{lastName}"
                       th:errorclass="bg-warning"
                       id="lastName" type="text" min="2" max="50" class="form-control"
                       th:placeholder="#{register_last_name}"/>
                <p th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}"
                   class="errors alert alert-danger">
                    Last name is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="email" class="text-white font-weight-bold" th:text="#{register_email}">Email</label>
                <input th:field="*{email}"
                       th:errorclass="bg-warning"
                       id="email" type="text" min="2" max="20" class="form-control"
                       th:placeholder="#{register_email}"/>
                <p th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}"
                   class="errors alert alert-danger">
                    Email is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="age" class="text-white font-weight-bold" th:text="#{register_age}">Age</label>
                <input th:field="*{age}"
                       th:errorclass="bg-warning"
                       id="age" type="number" min="16" max="120" class="form-control"
                       th:placeholder="#{register_age}"/>
                <p th:if="${#fields.hasErrors('age')}"
                   th:errors="*{age}"
                   class="errors alert alert-danger">
                    Age is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="password" class="text-white font-weight-bold" th:text="#{register_password}">Password</label>
                <input th:field="*{password}"
                       th:errorclass="bg-warning"
                       id="password" type="password" min="4" max="30" class="form-control"
                       th:placeholder="#{register_password}"/>
                <p th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}"
                   class="errors alert alert-danger">
                    Password is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="confirmPassword" class="text-white font-weight-bold" th:text="#{register_confirm_password}">Confirm password</label>
                <input th:field="*{confirmPassword}"
                       th:errorclass="bg-warning"
                       id="confirmPassword" type="password" min="4" max="30" class="form-control"
                       th:placeholder="#{register_confirm_password}"/>
                <p th:if="${#fields.hasErrors('confirmPassword')}"
                   th:errors="*{confirmPassword}"
                   class="errors alert alert-danger">
                    Password is required.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" style="background-color: #007bff; border-color: #007bff" th:value="#{nav_bar_register}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
