<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>

<div class="container d-flex justify-content-center">
    <div class="col-md-6 text-center">
        <h2 class="text-white" th:text="#{change_password}">Change Password</h2>
        <br>
        <form th:method="PUT"
              th:action="@{/users/profile/edit/password/{uuid}(uuid=${changePasswordBindingModel.uuid()})}"
              th:object="${changePasswordBindingModel}"
              class="main-form mx-auto d-flex flex-column justify-content-center"
              style="background: #343a40; max-width: 400px;">

            <div class="mb-3 text-center">
                <label for="oldPassword" class="text-white font-weight-bold d-block"
                       th:text="#{old_password}">Old Password</label>
                <input th:field="*{oldPassword}" th:errorclass="is-invalid"
                       id="oldPassword" type="password" class="form-control text-center"
                       th:placeholder="#{old_password}" />
                <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"
                   class="errors alert alert-danger mt-2 text-center"></p>
            </div>

            <div class="mb-3 text-center">
                <label for="newPassword" class="text-white font-weight-bold d-block"
                       th:text="#{new_password}">New Password</label>
                <input th:field="*{newPassword}" th:errorclass="is-invalid"
                       id="newPassword" type="password" class="form-control text-center"
                       th:placeholder="#{new_password}" />
                <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                   class="errors alert alert-danger mt-2 text-center"></p>
            </div>

            <div class="mb-3 text-center">
                <label for="confirmNewPassword" class="text-white font-weight-bold d-block"
                       th:text="#{confirm_new_password}">Confirm New Password</label>
                <input th:field="*{confirmNewPassword}" th:errorclass="is-invalid"
                       id="confirmNewPassword" type="password" class="form-control text-center"
                       th:placeholder="#{confirm_new_password}" />
                <p th:if="${#fields.hasErrors('confirmNewPassword')}" th:errors="*{confirmNewPassword}"
                   class="errors alert alert-danger mt-2 text-center"></p>
            </div>

            <div th:if="${hasErrors}"
                 th:text="#{new_password_not_same_as_old_password}" class="text-warning"></div>

            <br>
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-4 d-flex justify-content-center">
                    <input type="submit" class="btn btn-info btn-lg"
                           style="background-color: #dc3545; border-color: #dc3545; color: white; border-radius: 5px;"
                           th:value="#{change_password}"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>