<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container-fluid" style="padding: 42px">
    <h2 class="text-center text-white mt-5" th:text="#{offer_details}">Details</h2>
    <br>
    <div class="offers row mx-auto d-flex flex-row justify-content-center">
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0" style="background: #343a40">

            <div class="card-body pb-1">
                <h5 class="card-title" style="color: white" th:text="${offer.summary()}">
                    Offer year Brand name Model name</h5>
            </div>
            <ul class="offer-details list-group list-group-flush">
                <li class="list-group-item" style="background: #343a40; color: #d89722">
                    <div class="card-text">
                        <span th:text="'• ' + #{offer_description} + ':'">• Description</span>
                        <th:block th:text="${offer.description()}"></th:block>
                    </div>
                    <br>
                    <div th:if="${offer.category == 'CAMPER'}" class="card-text">
                        <span th:text="'• ' + #{offer_mileage} + ':'">• Mileage</span>
                        <th:block th:text="${offer.mileage}"></th:block>
                    </div>

                    <div class="card-text">
                        <span id="price" th:text="'• ' + #{price_details} + ': ' + ${offer.price} + ' BGN'"></span>
                        <form onsubmit="convertToUSD(event)">
                            <input id="convertButton" type="submit" style="background-color: #007bff; border-color: #007bff; color: white; border-radius: 5px" th:value="#{offer_convert}" class="link card-link"/>
                        </form>
                        <span id="convertedAmount"></span> <!-- Area to display converted amount -->
                    </div>

                    <div th:if="${offer.category == 'CAMPER'}" class="card-text">
                        <span th:text="'• ' + #{engine_type} + ':'">• Engine type</span>
                        <th:block th:text="${offer.engine.name()}"></th:block>
                    </div>
                    <div th:if="${offer.category == 'CAMPER'}" class="card-text">
                        <span th:text="'• ' + #{transmission_type} + ':'">• Transmission type</span>
                        <th:block th:text="${offer.transmission.name()}"></th:block>
                    </div>
                    <div th:if="${offer.category == 'CAMPER'}" class="card-text">
                        <span th:text="'• ' + #{offer_power} + ':'">• Horsepower</span>
                        <th:block th:text="${offer.horsepower()}"></th:block>
                    </div>
                    <div class="card-text">
                        <span th:text="'• ' + #{offer_beds} + ':'">• Beds</span>
                        <th:block th:text="${offer.beds()}"></th:block>
                    </div>
                    <div class="card-text">
                        <span th:text="'• ' + #{offer_created} + ':'">• Offer created</span>
                        <th:block th:text="${#temporals.format(offer.created, 'dd-MM-yyyy')}"></th:block>
                    </div>
                    <div th:if="${offer.modified != null}" class="card-text">
                        <span th:text="'• ' + #{offer_modified} + ':'">• Offer modified</span>
                        <th:block th:text="${#temporals.format(offer.modified, 'dd-MM-yyyy')}"></th:block>
                    </div>
                    <div class="card-text">
                        <span th:text="'• ' + #{offer_seller} + ':'">• Seller </span>
                        <th:block th:text="${offer.seller}"></th:block>
                    </div>
                </li>
            </ul>
            <div class="card-body" th:if="${offer.viewerIsOwner}" style="display: flex; justify-content: space-between; align-items: center;">
                <form th:method="get"
                      th:action="@{/offer/update/{uuid}(uuid=${offer.uuid})}">
                    <input type="submit" style="background-color: #007bff; border-color: #007bff; color: white; border-radius: 5px" th:value="#{offer_update}" class="link card-link"/>
                </form>
                <form th:method="delete"
                      th:action="@{/offer/{uuid}(uuid=${offer.uuid})}">
                    <input type="submit" style="background-color: #dc3545; border-color: #dc3545; color: white; border-radius: 5px" th:value="#{offer_delete}" class="link card-link"/>
                </form>
            </div>
        </div>
        <div class="offer card col-sm-2 col-md-3  col-lg-4 m-1 p-0">
            <img th:src="${offer.imageUrl}" width="200" height="400" class="card-img-top" alt="Car image">
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>

<script>
    function convertToUSD(event) {
        event.preventDefault(); // Prevent the default form submission

        console.log("Convert button clicked"); // Debug log

        // Extract the price value from the page
        let priceText = document.getElementById('price').innerText;
        console.log("Price text:", priceText); // Debug log

        // Assuming the price is in the format "• Price 1000 BGN"
        let priceParts = priceText.split(' ');
        let price = parseFloat(priceParts[2]); // Convert the extracted price text to a number

        if (isNaN(price)) {
            console.error("Invalid price value");
            document.getElementById('convertedAmount').innerText = 'Invalid price value';
            return;
        }

        console.log("Price value:", price); // Debug log

        let xhr = new XMLHttpRequest();
        let targetCurrency = 'USD';
        let url = `/api/currency/convert?amount=${price}&target=${targetCurrency}`;

        console.log("Request URL:", url); // Debug log

        xhr.open('GET', url, true);

        xhr.onload = function() {
            console.log("XHR Status:", xhr.status); // Debug log
            if (xhr.status === 200) {
                let response = JSON.parse(xhr.responseText);
                let convertedAmount = response.convertedAmount; // Extract the converted amount from the response
                console.log("Converted amount:", convertedAmount); // Debug log
                document.getElementById('convertedAmount').innerText = ' - Converted Price in USD: $' + convertedAmount.toFixed(2);
                document.getElementById('convertButton').style.display = 'none'; // Hide the convert button
            } else {
                console.error('Conversion failed');
                document.getElementById('convertedAmount').innerText = 'Conversion failed';
            }
        };

        xhr.onerror = function() {
            console.error("Request error");
        };

        xhr.send();
    }
</script>
</html>
