<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white" th:text="#{upload_offer}">Upload Offer</h2>
    <br>
    <form th:method="POST"
          th:action="@{/offer/add/camper}"
          th:object="${offerAddCamperBindingModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" style="background: #383d41">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="modelId" th:text="#{offer_model}">Model</label>
                <select id="modelId" class="form-control"
                        th:name="modelId"
                        th:field="*{modelId}"
                        th:errorclass="is-invalid">
                    <option value="">- Select a model -</option>
                    <optgroup
                            th:each="brand : ${brands}"
                            th:label="${brand.name}">
                        <option
                                th:each="model : ${brand.models}"
                                th:if="${#strings.equals(model.category, 'CAMPER')}"
                                th:text="${model.name}"
                                th:value="${model.id}"
                                th:selected="${model.id} == *{modelId}">Model
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_model_message}">
                    Vehicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold" th:text="#{offer_price}">Price in BGN</label>
                <input id="price"
                       th:name="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number" min="0" step="100" class="form-control"
                       th:placeholder="#{offer_price_placeholder}"/>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_price_message}">
                    Suggested price in BGN is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine" th:text="#{offer_engine}">Engine</label>
                <select id="engine"
                        th:name="engine"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select engine type -</option>
                    <option th:each="e : ${engines}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{engine}">
                        Engine type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_engine_message}">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission" th:text="#{offer_transmission}">Transmission</label>
                <select id="transmission"
                        th:name="transmission"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select transmission type -</option>
                    <option th:each="t : ${transmissions}"
                            th:text="${t}"
                            th:value="${t}"
                            th:selected="${t} == *{transmission}"
                    > Transmission type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_transmission_message}">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold" th:text="#{offer_year}">Year</label>
                <input id="year"
                       th:name="year"
                       th:field="*{year}"
                       th:errorclass="is-invalid"
                       type="number" min="1900" max="2099" step="1" class="form-control"
                       th:placeholder="#{offer_year_placeholder}"/>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_year_message}">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold" th:text="#{offer_mileage}">Mileage</label>
                <input id="mileage"
                       th:name="mileage"
                       th:field="*{mileage}"
                       th:errorclass="is-invalid"
                       type="number" min="0" max="2000000" step="1000"
                       class="form-control"
                       th:placeholder="#{offer_mileage_placeholder}"/>
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_mileage_message}">
                    Mileage in kilometers is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description" th:text="#{offer_description}">Description</label>
            <textarea id="description"
                      th:name="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea" class="form-control" rows="3"
                      th:placeholder="#{offer_description}"></textarea>
            <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_description_message}">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl" th:text="#{offer_image}">Image URL</label>
            <input id="imageUrl"
                   th:name="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url" class="form-control"
                   th:placeholder="#{offer_image_placeholder}">
            <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_image_message}">
                Vehicle image URL is required.
            </p>
        </div>

        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="beds" th:text="#{offer_beds}">Beds</label>
                <input id="beds"
                       th:name="beds"
                       th:field="*{beds}"
                       th:errorclass="is-invalid"
                       type="number" min="1" max="15" step="1"
                       class="form-control"
                       th:placeholder="#{offer_beds_placeholder}">
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_beds_message}">
                    Beds count is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="horsePower" th:text="#{offer_power}">Horsepower</label>
                <input id="horsePower"
                       th:name="horsePower"
                       th:field="*{horsePower}"
                       th:errorclass="is-invalid"
                       type="number" min="50" max="1000" step="10"
                       class="form-control"
                       th:placeholder="#{offer_power_placeholder}">
                <p class="invalid-feedback errors alert alert-warning" th:text="#{offer_power_message}">
                    Horsepower of vehicle is required.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" style="background-color: #007bff; border-color: #007bff" th:value="#{offer_add}"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
