<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white" th:text="#{choose_category}">Choose category</h2>
    <br>
    <div class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center" style="background: #343a40">
        <div class="form-group" style="padding: 3px">
            <h3 class="text-white font-weight-bold" th:text="#{category_camper}">Camper</h3>
            <img class="rounded" src="/images/roadsurfer_camper-castle.png" height="50%" width="50%" alt="">
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <form th:method="get" th:action="@{/offer/add/camper}">
                            <input type="submit" class="btn btn-info btn-lg" style="background-color: #007bff; border-color: #007bff" th:value="#{add_camper}"/>
                        </form>
                    </div>
                </div>
            </div>

            <hr width="80%" size="50" color="orange" noshade>

            <h3 class="text-white font-weight-bold" th:text="#{category_caravan}">Caravan</h3>
            <img class="rounded" src="/images/Sprite-Space-Caravan.png" height="50%" width="50%" alt="">
            <div class="row">
                <div class="col col-md-4">
                    <div class="button-holder d-flex">
                        <form th:method="get" th:action="@{/offer/add/caravan}">
                            <input type="submit" class="btn btn-info btn-lg" style="background-color: #007bff; border-color: #007bff" th:value="#{add_caravan}"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
