<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head}">
</head>

<body>

<div>
    <nav th:replace="~{fragments/navbar}"></nav>
</div>


<div class="container">
    <h2 class="text-center text-white">Update Offer</h2>
    <form
            th:object="${updateOfferBindingModel}"

            th:method="PUT"
            th:action="@{/offer/update/{uuid}(uuid=${updateOfferBindingModel.uuid})}"
            class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="model">Model</label>
                <select id="model" class="form-control"
                        th:name="model"
                        th:field="*{model}"
                        th:errorclass="is-invalid">

                    <option disabled value="">- Select a model -</option>
                    <optgroup
                            th:each="brand : ${brands}"
                            th:label="${brand.name}">
                        <option
                                th:each="model : ${brand.models}"
                                th:if="${#strings.equals(model.category, updateOfferBindingModel.category)}"
                                th:text="${model.name}"
                                th:value="${model.name}"
                                th:selected="${model.name} == ${updateOfferBindingModel.model}">Model
                            >
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-warning">
                    Vehicle model is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input th:value="${updateOfferBindingModel.price}"
                       id="price"
                       th:name="price"
                       th:field="*{price}"
                       th:errorclass="is-invalid"
                       type="number" min="0" step="100" class="form-control"
                       placeholder="Suggested price"/>
                <p class="invalid-feedback errors alert alert-warning">
                    Suggested price is required.
                </p>
            </div>
        </div>
        <div th:if="${updateOfferBindingModel.category.equals('CAMPER')}" class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="engine">Engine</label>
                <select th:name="engine"
                        th:errorclass="is-invalid"
                        id="engine" class="form-control">
                    <option th:value="${updateOfferBindingModel.engine}">- Select engine type -</option>
                    <option
                            th:each="e : ${engines}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{engine}">
                        Engine type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-warning">
                    Engine type is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="transmission">Transmission</label>
                <select th:name="transmission"
                        th:errorclass="is-invalid"
                        id="transmission" class="form-control">
                    <option th:value="${updateOfferBindingModel.transmission}">- Select transmission type -</option>
                    <option
                            th:each="t : ${transmissions}"
                            th:text="${t}"
                            th:value="${t}"
                            th:selected="${t} == *{transmission}"> Transmission type
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-warning">
                    Transmission type is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year</label>
                <input th:value="${updateOfferBindingModel.year}"
                       id="year"
                       th:name="year"
                       th:field="*{year}"
                       th:errorclass="is-invalid"
                       type="number" min="1900" max="2099" step="1" class="form-control"
                       placeholder="Manufacturing year"/>
                <p class="invalid-feedback errors alert alert-warning">
                    Manufacturing year is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="beds">Beds</label>
                <input th:value="${updateOfferBindingModel.beds}"
                       id="beds"
                       th:name="beds"
                       th:field="*{beds}"
                       th:errorclass="is-invalid"
                       type="number" min="1" max="15" step="1"
                       class="form-control"
                       placeholder="Beds count">
                <p class="invalid-feedback errors alert alert-warning">
                    Beds count is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Description</label>
            <textarea th:value="${updateOfferBindingModel.description}"
                      id="description"
                      th:name="description"
                      th:field="*{description}"
                      th:errorclass="is-invalid"
                      type="textarea" class="form-control" rows="3"
                      placeholder="Description"></textarea>
            <p class="invalid-feedback errors alert alert-warning">
                Description is required.
            </p>
        </div>
        <div class="form-group">
            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>
            <input th:value="${updateOfferBindingModel.imageUrl}"
                   id="imageUrl"
                   th:name="imageUrl"
                   th:field="*{imageUrl}"
                   th:errorclass="is-invalid"
                   type="url" class="form-control"
                   placeholder="Put vehicle image URL here">
            <p class="invalid-feedback errors alert alert-warning">
                Vehicle image URL is required.
            </p>
        </div>

        <div th:if="${updateOfferBindingModel.category.equals('CAMPER')}" class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="mileage" class="text-white font-weight-bold">Mileage</label>
                <input th:value="${updateOfferBindingModel.mileage}"
                       id="mileage"
                       th:name="mileage"
                       th:field="*{mileage}"
                       th:errorclass="is-invalid"
                       type="number" min="0" max="2000000" step="1000"
                       class="form-control"
                       placeholder="Mileage in kilometers"/>
                <p class="invalid-feedback errors alert alert-warning">
                    Mileage in kilometers is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-white font-weight-bold" for="horsePower">Horsepower</label>
                <input th:value="${updateOfferBindingModel.horsepower}"
                       id="horsePower"
                       th:name="horsepower"
                       th:field="*{horsepower}"
                       th:errorclass="is-invalid"
                       type="number" min="50" max="1000" step="10"
                       class="form-control"
                       placeholder="Horsepower of vehicle">
                <p class="invalid-feedback errors alert alert-warning">
                    Horsepower of vehicle is required.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Update Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
